@font-face {
    font-family: 'Warcraft';
    src: url('/fonts/LifeCraft_Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.wow-text {
    font-family: 'Warcraft';
    font-size: 72px;
    text-transform: uppercase;
    color: #d9a848;
    -webkit-text-stroke: 1px #2c1503;

    /* metallic gradient */
    background: linear-gradient(to bottom, #f8e7b4 0%, #d9a848 40%, #a56b1e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* layered shadows */
    text-shadow:
            0 2px 3px rgba(0, 0, 0, 0),      /* main drop shadow */
            0 -2px 2px rgba(217, 168, 72, 0.8), /* top light edge */
            2px 2px 2px rgba(0, 0, 0, 0.7),    /* bottom-right bevel */
            -2px -2px 2px rgba(255, 255, 255, 0.2); /* top-left highlight */
}

.wow-button {
    display: block;
}

.wow-button:hover {
    cursor: pointer;
    opacity: 0.8;
    filter: brightness(0.8);

}

.wow-button-waiting {
    display: block;
}

.wow-button-waiting:hover {
    cursor: wait;
}

.wow-button-text{
    cursor: pointer;
    font-family: 'Warcraft';
    font-size: 48px;
    color: #d9a848;
    -webkit-text-stroke: 1px #2c1503;

    /* metallic gradient */
    background: linear-gradient(to bottom, #f8e7b4 0%, #d9a848 40%, #a56b1e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* layered shadows */
    text-shadow:
            0 2px 3px rgba(0, 0, 0, 0),      /* main drop shadow */
            0 -2px 2px rgba(217, 168, 72, 0.8), /* top light edge */
            2px 2px 2px rgba(0, 0, 0, 0.7),    /* bottom-right bevel */
            -2px -2px 2px rgba(255, 255, 255, 0.2); /* top-left highlight */
}

.mt-0125 {
    margin-top: 0.10rem;
}

.bottom-1rem {
    bottom: 1rem;
}
